<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475206174802-q5ein2f7sd2gr1s1rh4f639ij3a9h1ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475206174802-q5ein2f7sd2gr1s1rh4f639ij3a9h1ae</string>
	<key>API_KEY</key>
	<string>AIzaSyDiJK93vaYqNDzKKHHMiaXUYxl8rc9AY4g</string>
	<key>GCM_SENDER_ID</key>
	<string>475206174802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.karna</string>
	<key>PROJECT_ID</key>
	<string>karna-85448</string>
	<key>STORAGE_BUCKET</key>
	<string>karna-85448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475206174802:ios:163d9c4fbda4573827f78b</string>
</dict>
</plist>